body,
html {
  margin: 0;
  padding: 0;
  background-color: #f6f8fa;
}

.nav {
  z-index: 2;
  position: fixed;
  display: flex;
  width: 100%;
  max-height: 3em;
  background-color: white;
  padding: 5px;
  margin: 0;
  border-top: 3px solid #d1d5da;
  color: #24292e;
  border-bottom: 1px solid #d1d5da;
  align-items: center;
  justify-content: center;
}
.fav {
  background-color: #fb8261;
}
.menu-list,
menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-list * {
  margin: 10px;
}

.menu-list {
  margin: 0;
}

.menu-item {
  margin: 0;
}

ul {
  list-style: none;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left,
.right {
  margin-top: 70px;
  width: 50%;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
}

.box {
  color: #24292e;
  border-radius: 8px;
  border: 1px solid #d1d5da;
  background-color: white;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.box-content {
  padding: 10px;
}

.card {
  opacity: 1;
  transition: 4s;
  -webkit-transition: 4s;
  -moz-transition: 4s;
  -ms-transition: 4s;
  -o-transition: 4s;
}
.card:hover {
  transition: 1s;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card:not(:hover) {
  transition: 1s;
  /* opacity: 0.8; */
}
.card-title {
  background-color: "#e1e4e8";
  display: "flex";
  justify-content: "space-between";
  align-items: "baseline";
  padding: 0 10px;
  border-bottom: 1px solid #d1d5da;
}
.app-list-element:nth-child(even) > div > header {
  background-color: #f6f8fa;
}

.big {
  margin-bottom: 40px;
}

.col-wrapper {
  position: fixed;
  margin: 0 20px;
  width: 48%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f6f8fa;
}

.app-list-element {
  margin-bottom: 20px;
}
.input-number {
  outline: none;
  border: 0;
  width: 60px;
  font-size: 1em;
  font-weight: bold;
}

#top-10 {
  overflow-y: auto;
  max-height: 300px;
}

.tag-span {
  text-transform: capitalize;
  margin-right: 0.5em;
  color: #24292e;
  padding: 2px 6px;
  border-radius: 30px;
  border: 1px solid #d1d5da;
  background-color: #f6f8fa;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.heart-icon {
  color: Crimson;
}
